body {
	background-color: #ddd;
}

canvas {
	display: block;
	width: 100%;
	background-color: #999;
}

label:hover {
	cursor: pointer;
}

#messages {
	height: 300px;
	overflow-y: scroll;
	background-color: black;
	border: 2px solid white;
}

#preset-data {
	height: 200px;
	width: 100%;
	overflow-y: scroll;
}

#messages, #stream-loggin {
	padding: 0 0.5rem;
	font-family: Ubuntu, Sans-Serif;
}

#stream-logging {
	height: 40px;
	background-color: black;
	overflow: hidden;
	border: 2px solid white;
	border-top: none;
}

#stream-logging p {
	margin: 10px 5px;
	width: 100%;
}

#player {
	width: 60%;
}

#usage-logging {
	width: 100px;

	position: fixed;
	right: 2rem;
	top: 1rem;
	z-index: 10;

	background-color: black;
	color: white;
	text-align: center;
}

#canvas-container {
	margin: 0 5%;
	border: 2px solid white;
}

#videoCanvas {
	max-height: 280px;
}

#audioCanvas {
	height: 100px;
	border-top: 2px solid white;
}

#on-air {
	float: right;
	margin-right: 10px;
	font-weight: bold;
	color: rgba(100, 100, 100, 0.65);
}

#checkboxes, #sliders {
	list-style: none;
}

#checkboxes {
	float: left;
	width: 100px;
}

#sliders {
	float:left;
}

.hidden {
	display: none;
}

.success {
	color: green;
}

.danger {
	color: red;
}

.warning {
	color: orange;
}

.standard {
	color: #eee;
	font-style: italic;
}

.normal {
	color: #eee;
	font-style: italic;
}

.container {
	float: left;
	width: 50%;
	min-width: 400px; 	
}

.wrapper {
	position: relative;
	width: 96%;
	margin: 1% auto;
}

.wrapper:after, .btn-block:after, #color-picker:after {
	content:"";
	display:table;
	clear:both;
}

.shadow {
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.62);
}

.time {
	color: ##1ccce1;
}

.btn-block button {
    margin: 0.25rem 0.025rem 0;
}

@media all and (max-width: 980px) {
	.container {
		width: 100%;
		min-width: 100%;
	}

	#videoCanvas {
		display: none;
	}

	#stream-logging {
		height: 80px;
	}
}
